.btnMenuLateral{
    -fx-background-color:transparent;
}

.btnMenuLateral:hover{
    -fx-background-color:#E7E7E7;
    -fx-cursor: hand;
}

.imgSair:hover{
    -fx-cursor: hand;
}

.menuLateral{
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 0);
         
}